.checkOption {
    width: 100%;
    padding-left: 20%;
}

.radioLabel {
    font-size: 20px;
    cursor: pointer!important;
    clear: both;
}

.radio {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.radio + label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.radio:not(checked) {
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 110px; /* оставляем слева от label место под псевдочекбокс */
    line-height: 60px;
    float: left;
    margin-bottom: 20px;
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    background: #fff;
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.radio:checked + label:before {
  background: #000;
    border:20px solid #fff;
}

.question-text {
  margin-bottom: 0px;
}

.question-text_wrapper {
    width: 100%;
    margin: 0 auto;
}

.checkOption-wrapper {
    margin-bottom: 0px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    float: left;
}

.checkOption {
    position: relative;
}

.checkOption .radio{
    display: none;
}

.checkOption1 #radio1{
    opacity: 0;
    position: absolute;
    top: 18px;
    left: 20px;
}

.checkOption2 #radio2{
    opacity: 0;
    position: absolute;
    top: 18px;
    left: 20px;
}

.multiple {
    padding: 0px 35px;
}

.checkOption-wrapper:after {
    content: '';
    display: block;
    clear: both;
}