@media (max-width: 1100px) {
    .products {
        width:100%;
    }

    .result3 .text_block {
        width: calc(100% - 225px)!important;
    }
}
@media (max-width: 800px) {
    .questionTitle, .question-text_wrapper {
        width: auto;
    }

}