@media (max-width: 1200px) {
    .question-text {
        margin-bottom: 20px;
    }

    .image-block{
        display: none!important;
    }
    .products {
     position:static!important;
    }
    .products img {
        margin-top: 30px!important;
        width: 60%!important;
    }

    .product-wrapper-image:before {
        top: 30px!important;
    }
}

@media (max-width: 980px) {
     .products {
       
        position:static!important;
    }
}
    
@media (max-width: 840px) {
    .questionTitle, .question-text_wrapper {
        width: auto;
    }
    .checkOption-wrapper{
        width:100%;
    }

}

@media (max-width: 800px) {
    .questionTitle, .question-text_wrapper {
        width: auto;
    }
    .question-wrapper{
        width: auto;
    }
     .question-wrapper{
        padding-left: 40px!important;
        padding-right: 40px!important;
    }

    .signUp-main-wrapper .question-text_wrapper {
        width: 100%!important;
    }
    .question-text_wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 60px;
    }
/*        #app{
        height:auto;
    }*/


}

@media (max-width: 768px) {
/*        #app{
        height:auto;
    }*/
}

@media (max-width: 700px) {
    .signUp-input_wrapper{
        padding-right: 0px!important;
    }

    .signUp-input_text {
        text-align: center!important;
        width: 100%!important;
    }

    .email{

        float:none!important;
    }

    .result4-image_map{
        width: auto!important;
    }
    .question-text_wrapper .form-group {
        width: 100%!important;
    }   

    .signUp-input {
        width: 100%!important;
    }

    .signUp-input_wrapper .bootstrap-select {
        /*width: 100%; */
    }
    #signUp-input  {
        width:280px!important;
    }

    .signUp-input_text {
        margin-bottom: 20px;
    }

}

@media (max-width: 640px) {
    .buttonStyles {
        font-family: 'InterstateLight';
        font-size: 24px!important;
        padding: 0 20px;
    }

    .result-title_value {
        font-size: 56px!important;
    }

    .top-wrapper {
        height: 28%;
    }
    .main-in-salon-wrapper {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
}

@media (max-width: 490px) {
    .email {
        width: 100%!important;
    }

    .result-title_value {
        font-size: 30px!important;
    }

}

@media (max-width: 400px) {
    .buttonStyles {
        font-family: 'InterstateLight';
        font-size: 16px!important;
    }
    .result-text_thin {
        font-family: 'InterstateThin';
        font-size: 29px!important;
    }

}