.signUp-input_text {
    display: inline-block;
    font-size: 34px;
    color: #fff;
    font-family: 'InterstateLight';
    width: calc(100% - 280px);
    text-align: left;
}

.signUp-input {
    width: 280px;
    height: 70px;
    border-radius: 4px;
    border: 0px;
    color: #696969;
    font-size: 34px;
    font-family: 'InterstateLight';
    box-sizing:border-box;
    padding: 0px 25px;
}

.signUp-input_wrapper .email {
    width: 390px;
    padding-left: 35px;
    font-size: 24px;
}

.signUp-input_wrapper .bootstrap-select {
    width: 280px!important;
}

.signUp-input_wrapper .form-group {
    display: inline-block;
    margin-bottom: 0px;
}

.signUp-input_wrapper .caret {
    background: url(../images/arrow_sign.png) no-repeat center;
    width: 21px;
    height: 14px;
    border:0px;
}

.signUp-input_wrapper .form-control {
    height: 70px;
}

.signUp-input_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-right: 110px;
    margin-top: 30px;
    margin-bottom: 30px;
}



.checkboxSignUp {
    color: #fff;
    font-family: 'InterstateLight';
    font-size: 18px;
    margin-top: 30px
}

.signUp-wrapper .checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
    margin-bottom: 0px;
    line-height: 21px;

}

.last {
    margin-bottom: 0px;
    padding:0px;
}

.signUp-wrapper .checkbox:not(checked) {
    display: none;
}

.signUp-wrapper .checkbox:not(checked) + label:before {
    width:21px;
    height: 21px;
    border-radius: 3px;
}

.checkbox-wrapper {
    position: relative;   
}

#userNewsletter{
    bottom: 0px;
    position: absolute;
}

.signUp-wrapper .checkbox:checked + label:before {
    background: url(../images/check.png)no-repeat center #fff;
    border: 3px solid #fff;
    border-radius:3px; 
    width: 21px;
    height: 21px;
    display: block;
}

.signUp {
    padding-top: 75px;
}

.skipButton {
    font-size: 19px;
    color:#353535;
    font-family: 'InterstateLight';
    width:80px;
    height: 42px;
    border: 1px solid #484848;
    box-sizing: border-box;
    background-color: #d7d7d7;
    position: absolute;
    right:35px;
    bottom: 30px;
    display: block;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    transition: all 1s ease;
}

.signUp-main-wrapper {
    position: relative;
}

.skipButton:hover {
    text-decoration: none;
    background: #484848;
    color:#d7d7d7;
}

.signUp-main-wrapper .selectpicker {
    color: #696969;
    border-radius: 4px;
}

.signUp-main-wrapper .signUp-input {
    background: #fff;
    border-radius: 4px;
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 95px; /* оставляем слева от label место под псевдочекбокс */
    line-height: 60px;
    float: left;
    margin-bottom: 20px;
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    background: #fff;
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
  background: #000;
    border:20px solid #fff;
}

.signUp-main-wrapper .linkText {
    margin-bottom: 30px;
}

.wrapperNext{
    padding-top: 45px;
    padding-bottom: 40px;
}

.linkText {
    margin-bottom: 30px;
}



